<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bookspace.domain.book.dao.BookDao">


    <!-- Search: DB 내 책 조회(카테고리별: 책 이름, 저자명, 출판사)  -->
    <select id="searchBooks" resultType="bookVo">
        SELECT * FROM book
        <where>
                # 제목 검색
                <if test="searchType == 'title'">
                    book_title LIKE CONCAT ('%', #{query}, '%')
                </if>
                # 저자 검색
                <if test="searchType == 'author'">
                    book_author LIKE CONCAT ('%', #{query}, '%')
                </if>
                # 출판사 검색
                <if test="searchType == 'publisher'">
                    book_publisher LIKE CONCAT ('%', #{query}, '%')
                </if>
        </where>
     </select>

        <!-- Search: ISBN 단건 조회 -->
        <select id="findBookByIsbn" resultType="bookVo">
            SELECT *
            FROM book
            WHERE book_isbn = #{isbn}
    </select>

    <!--  Insert: 알라디 API 데이터 저장  -->
    <insert id="insertBook" parameterType="bookVo">
        INSERT INTO book (
            book_title,
            book_author,
            book_publisher,
            book_publication_date,
            book_isbn,
            book_description,
            book_price,
            book_image_url,
            book_sales_point,
            book_category
        )
        VALUES (
                   #{bookTitle},
                   #{bookAuthor},
                   #{bookPublisher},
                   #{bookPublicationDate},
                   #{bookIsbn},
                   #{bookDescription},
                   #{bookPrice},
                   #{bookImageUrl},
                   #{bookSalesPoint},
                   #{bookCategory}
               )
    </insert>

</mapper>