<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bookspace.domain.post.dao.PostDao">

    <!-- 1. 게시글 등록 -->
    <insert id="insertPost" parameterType="postVo">
        INSERT INTO post
        (
            user_id,
            book_id,
            post_title,
            post_content
        )
        VALUES
            (
                #{userId},
                #{bookId},
                #{postTitle},
                #{postContent}
            )
    </insert>

    <!--전체 게시글 개수 조회 <- 페이지네이션에 사용 -->
    <select id="countAllPosts" resultType="int">
        SELECT COUNT(*) FROM post
    </select>

    <!-- 2. 전체 게시물 조회: 페이지네이션 적용-->
    <select id="selectAllPosts" resultType="postResponseDto">
        SELECT
            p.post_id,
            p.user_id,
            p.book_id,
            p.post_title,
            p.post_content,
            p.post_date,
            p.post_view_cnt,
            p.post_last_modified,

            -- 책 정보
            b.book_title AS bookTitle,
            b.book_author AS bookAuthor,
            b.book_image_url AS bookImageUrl,

            -- 작성자 정보
            u.user_nickname AS userNickname,

            -- 좋아요 개수
            (SELECT COUNT(*)
             FROM post_like pl
                      JOIN user u2 ON pl.user_id = u2.user_id
             WHERE pl.post_id = p.post_id
               AND u2.user_status = 'active') AS likeCount,

            -- 댓글 개수
            (SELECT COUNT(*)
             FROM comment c
             WHERE c.post_id = p.post_id) AS commentCount,

            -- 로그인 유저 좋아요 여부
            CASE
                WHEN #{userId} IS NULL THEN FALSE
                ELSE (
                    SELECT COUNT(*) > 0
                    FROM post_like pl
                    WHERE pl.post_id = p.post_id
                      AND pl.user_id = #{userId}
                )
                END AS isLiked

        FROM post p
                 JOIN book b ON p.book_id = b.book_id
                 JOIN user u ON p.user_id = u.user_id

        ORDER BY p.post_date DESC
        LIMIT #{size}
        OFFSET #{offset}
    </select>





    <!-- 3. 게시글 상세 조회 -->
<!--    <select id="selectPostById" parameterType="long" resultType="com.bookspace.domain.post.vo.PostVo">-->
<!--        SELECT-->
<!--            p.post_id,-->
<!--            p.user_id,-->
<!--            p.book_id,-->
<!--            p.post_title,-->
<!--            p.post_content,-->
<!--            p.post_date,-->
<!--            p.post_view_cnt,-->
<!--            p.post_last_modified,-->
<!--            COUNT(pl.post_id) AS likeCount-->
<!--        FROM post p-->
<!--                 LEFT JOIN post_like pl-->
<!--                           ON p.post_id = pl.post_id-->
<!--        WHERE p.post_id = #{postId}-->
<!--        GROUP BY p.post_id-->
<!--    </select>-->

    <!-- 3. 단건 조회 -->
    <select id="selectPostById" resultType="postVo">

        SELECT
            p.post_id,
            p.user_id,
            p.book_id,
            p.post_title,
            p.post_content,
            p.post_date,
            p.post_view_cnt,
            p.post_last_modified,

            -- 좋아요 개수
            (SELECT COUNT(*)
             FROM post_like pl
                      JOIN user u ON pl.user_id = u.user_id
             WHERE pl.post_id = p.post_id
               AND u.user_status = 'active') AS likeCount,

            -- 유저 좋아요 여부
            CASE
                WHEN #{userId} IS NULL THEN FALSE
                ELSE (
                    SELECT COUNT(*) > 0
                    FROM post_like pl
                    WHERE pl.post_id = p.post_id
                      AND pl.user_id = #{userId}
                )
                END AS isLiked

        FROM post p
        WHERE p.post_id = #{postId}
    </select>



    <!-- 4. 게시글 수정 -->
    <update id="updatePost" parameterType="postVo">
        UPDATE post
        SET
            post_title = #{postTitle},
            post_content = #{postContent},
            post_last_modified = CURRENT_TIMESTAMP
        WHERE post_id = #{postId}
    </update>


    <!-- 5. 게시글 삭제 -->
    <delete id="deletePost" parameterType="long">
        DELETE FROM post
        WHERE post_id = #{postId}
    </delete>


    <!-- 6. 조회수 증가 -->
    <update id="increaseViewCount" parameterType="long">
        UPDATE post
        SET post_view_cnt = post_view_cnt + 1
        WHERE post_id = #{postId}
    </update>

    <!-- 7. 특정 책에 대한 게시글 조회 -->
    <select id="selectPostsByBookId" parameterType="long" resultType="postVO">
        SELECT
            post_id,
            user_id,
            book_id,
            post_title,
            post_content,
            post_date,
            post_view_cnt,
            post_last_modified
        FROM post
        WHERE book_id = #{bookId}
        ORDER BY post_date DESC
    </select>


    <!-- 8. 특정 사용자에 대한 게시글 조회-->
    <select id="selectPostsByUserId"
            parameterType="long"
            resultType="postVo">
        SELECT
            post_id,
            user_id,
            book_id,
            post_title,
            post_content,
            post_date,
            post_view_cnt,
            post_last_modified
        FROM post
        WHERE user_id = #{userId}
        ORDER BY post_date DESC
    </select>

    <!-- 9. 키워드로 게시글 조회 (제목 + 내용) -->
    <select id="selectPostsByKeyword"
            parameterType="string"
            resultType="postVo">
        SELECT
            post_id,
            user_id,
            book_id,
            post_title,
            post_content,
            post_date,
            post_view_cnt,
            post_last_modified
        FROM post
        WHERE post_title LIKE CONCAT('%', #{keyword}, '%')
           OR post_content LIKE CONCAT('%', #{keyword}, '%')
        ORDER BY post_date DESC
    </select>

    <!-- 10. postId를 가진 게시글 존재 여부   -->
    <select id="existsById" parameterType="long" resultType="boolean">
        SELECT COUNT(*) > 0
        FROM post
        WHERE post_id = #{postId}
    </select>


    <!-- 11. 로그인한 유저가 좋아요를 누른 게시글 전체 조회  -->
    <select id="selectLikedPostsByUserId" parameterType="long" resultType="postVo">
        SELECT
            p.post_id,
            p.user_id,
            p.book_id,
            p.post_title,
            p.post_content,
            p.post_date,
            p.post_view_cnt,
            p.post_last_modified,

            -- 좋아요 개수
            (SELECT COUNT(*)
             FROM post_like pl2
             WHERE pl2.post_id = p.post_id) AS likeCount,

            -- 로그인 유저가 좋아요 누른 여부 (항상 true)
            TRUE AS isLiked

        FROM post p
                 JOIN post_like pl ON p.post_id = pl.post_id
        WHERE pl.user_id = #{userId}
        ORDER BY p.post_date DESC

    </select>
</mapper>
